{% if breads %}
    {% for bread in breads %}
    <p>{{ bread.name  }}</p>
    <p>{{ bread.description }}</p>
    {% if bread.image %}
    <img src="{{ bread.image}}" alt="{{ bread.name }}">
    {% endif %}
    {% endfor %}
{% else %}
<p>no bread</p>
{% endif %}

{% if shops %}
    {% for shop in shops %}
    <p>{{ shop.name  }}</p>
    <p>{{ shop.address }}</p>
    <p>{{ shop.business_hours }}</p>
    {% if shop.image %}
    <img src="{{ shop.image}}" alt="{{ shop.name }}">
    {% endif %}
    {% endfor %}
{% else %}
<p>no shop</p>
{% endif %}