<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Full Menu</title>
	<link rel="stylesheet" href="./static/css/GyeongJu_home.css">
</head>
<body>
	<div>
		<nav class="navbar">
			<div class="title">Hello Korea !</div>
			<div class="menu">
				<div class="d" id="gyeongju">
					<button class="d-btn">경주</button>
					<div class="column" id="gyeongju_column">
						<a href="">숙소</a>
						<a href="">음식</a>
						<a href="">전통체험</a>
						<a href="">기념품</a>
					</div>
				</div>
				<div class="d" id="suncheon">
					<button class="d-btn">순천</button>
					<div class="column" id="suncheon_column">
						<a href="">숙소</a>
						<a href="">음식</a>
						<a href="">전통체험</a>
						<a href="">기념품</a>
					</div>
				</div>
				<div class="d" id="jeonju">
					<button class="d-btn">전주</button>
					<div class="column" id="jeonju_column">
						<a href="">숙소</a>
						<a href="">음식</a>
						<a href="">전통체험</a>
						<a href="">기념품</a>
					</div>
				</div>
				<div class="d" id="language">
					<button class="d-btn">언어</button>
					<div class="column"  id="language_column">
						<a href="">한국어</a>
						<a href="">English</a>
						<a href="">日本語</a>
						<a href="">繁體字</a>
						<a href="">簡體字</a>
						<a href="">Deutsch</a>
						<a href="">русский</a>
					</div>
				</div>
			</div>
		</nav>
	</div>
	<script src="static/js/GyeongJu_home.js"></script>
</body>
</html>
