<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Full Menu</title>
	<script src="https://code.jquery.com/jquery-latest.min.js"></script>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/GyeongJu_home.css' %}">
</head>
<body>
	<header class="header">
		<div class="header_inner">
			<h1 class="title">
				<a href="/" class="home_link">
					<span class="blind">Hello Korea !</span>
					<img src="{% static 'images/Hello-Korea.png' %}" class="home_img">
				</a>
			</h1>
			<nav class="navbar">
				<div class="toggle">
					<input type="checkbox" class="hamburger_btn">
					<span class="bar"></span>
					<span class="bar"></span>
					<span class="bar"></span>
					<ul class="menu">
						<li class="item" id="gyeongju">
							<strong class="category"><a href="/GyeongJu">경주</a></strong>
							<div class="column" id="gyeongju_column">
								<a href="./GyeongJu/Accomodation" class="link">숙소</a>
								<a href="./GyeongJu/Food" class="link">음식</a>
								<a href="./GyeongJu/Tradition" class="link">전통체험</a>
								<a href="./GyeongJu/Souvenir" class="link">기념품</a>
							</div>
						</li>
						<li class="item" id="suncheon">
							<strong class="category"><a href="/SoonCheon">순천</a></strong>
							<div class="column" id="suncheon_column">
								<a href="" class="link">숙소</a>
								<a href="" class="link">음식</a>
								<a href="" class="link">전통체험</a>
								<a href="" class="link">기념품</a>
							</div>
						</li>
						<li class="item" id="jeonju">
							<strong class="category"><a href="/JeonJu">전주</a></strong>
							<div class="column" id="jeonju_column">
								<a href="" class="link">숙소</a>
								<a href="" class="link">음식</a>
								<a href="" class="link">전통체험</a>
								<a href="" class="link">기념품</a>
							</div>
						</li>
						<li class="item" id="language">
							<!-- <form action="" method="post" id="select_language"> -->
								{% csrf_token %}
								<label for="lang" class="blind">언어 선택</label>
								<select name="select_language" id="lang" class="select_lang">
									<option value="ko" id="ko">ko</option>
									<option value="en" id="en">en</option>
									<option value="jp" id="jp">jp</option>
									<option value="cn" id="cn">cn</option>
								</select>
							<!-- </form> -->
						</li>
					</ul>
				</div>
			</nav>	
		</div>
	</header>
	<main class="main">
		<div class="text_wrap">
			<p class="desc">
				<strong style="font-size: 24px;">'Hello Korea'</strong> 는<br>
				K-POP이 전세계에 유명해지면서 한국에 대한 관심도가 올라가고 있습니다. 그러나 관광객은 그만큼 증가하지는 않았습니다.<br>
				때문에 외국인 관광객들에게 잘 알려지지 않은 한국의 숨겨진 아름다운 도시들을 소개하고 도시의 여행 정보를 한눈에 보기 쉽게 만들어 한국 여행지의 매력을 알리려는 웹서비스입니다.
				<br>도시의 정보를 수집하기 위해 다양한 웹사이트를 크롤링하여 숙소, 음식, 문화체험, 기념품 정보를 시각화하여 제공합니다.
				<br>또한, 영어, 중국어, 일본어를 포함한 총 7가지 언어로 모든 페이지가 번역 가능하므로 다양한 나라의 관광객이 간편하게 접근할 수 있습니다.
			</p>
		</div>
	</main>
	<footer class="footer">
		<div class="footer_wrap">
			<strong class="title">Hello Korea!</strong>
			<dl class="developer_list">
				<dt>개발자 : </dt>
				<dd>유준상</dd>
				<dd>주경연</dd>
				<dd>문소정</dd>
				<dd>안중현</dd>
			</dl>
		</div>
	</footer>
	<script>
		var slideIndex = 0;
		showSlides();

		function showSlides() {
			var i;
			var slides = document.getElementsByClassName("fade");

			for (i = 0; i < slides.length; i++) {
				slides[i].style.display = "none";
			}
			slideIndex++;
			if (slideIndex > slides.length) {
				slideIndex = 1
			}
			slides[slideIndex - 1].style.display = "block";
		
			setTimeout(showSlides, 5000); // 2초마다 이미지가 체인지됩니다
		}
	</script>
</body>
</html>
