<!DOCTYPE html>
<html>
<head>
    <title>Food Data</title>
</head>
<body>
    {% if korean %}
    <h1>Korean food</h1>
        <ul>
            {% for k in korean %}
                <li>
                    {{ k.name }} 
                    {{ k.address }} 
                    {{ k.number }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if western %}
    <h1>Western food</h1>
        <ul>
            {% for w in western %}
                <li>
                    {{ w.name }} 
                    {{ w.address }} 
                    {{ w.number }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if japanese %}
    <h1>Japanese food</h1>
        <ul>
            {% for j in japanese %}
                <li>
                    {{ j.name }} 
                    {{ j.address }} 
                    {{ j.number }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if chinese %}
    <h1>Chinese food</h1>
        <ul>
            {% for c in chinese %}
                <li>
                    {{ c.name }} 
                    {{ c.address }} 
                    {{ c.number }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

</body>
</html>