<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>전통문화체험</title>
</head>
<body>
    <nav>
        <a href="http://127.0.0.1:8000/GyeongJu/Tradition">전통문화체험</a>
        <a href="http://127.0.0.1:8000/GyeongJu/Tradition/clothes">의복체험</a>
        <a href="http://127.0.0.1:8000/GyeongJu/Tradition/accomodation">고택체험</a>
        <form action="" method="post" id="select_language">
            {% csrf_token %}
            <select name="select_language" id="language" onchange="this.form.submit()">
                <option value="" disabled>언어 선택</option>
                {% for item in language %}
                <option value="{{ item.lang }}" id="{{ item.lang }}" {% if item.selected %} selected {% endif %}>{{ item.lang }}</option>
                {% endfor %}
            </select>
        </form>
    </nav>
    <h2>
        {{ type }}
    </h2>
    <ul>
        {% for item in data %}
            <li style="margin-bottom: 20px">
                {% if item.type == '전통문화체험' %}
                <strong>체험명 : {{ item.name }}</strong><br>
                {% else %}
                <strong>업체명 : {{ item.name }}</strong><br>
                {% endif %}
                {% if item.info != '' %}
                <p>설명 : {{ item.info }}</p>
                {% endif %}
                {% if item.call != '' %}
                전화번호 : {{ item.call }}<br>
                {% endif %}
                {% if item.address != '' %}
                <address>주소 : {{ item.address }}</address><br>
                {% endif %}
                {% if item.homepage != '' %}
                홈페이지 : <a href="{{ item.homepage }}">{{ item.homepage }}</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</body>
</html>
