<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <h1>{{ form_data.page_title }}</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="action" value="search">{{ form_data.search_button_text }}</button>
        <button type="submit" name="action" value="crawl">{{ form_data.crawl_button_text }}</button>
        <br>
        <button type="submit" name="action" value="translate">Translate</button>
        #This may take some time
    </form>
    <ul>
        {% if data %}
            {% for item in data %}
                <li>
                    {{ item.name }}: [{{ item.location }}]
                    <br>
                    <a href="{{ item.link }}">{{ form_data.link_text }}</a>
                    <br>
                    <img src="{{ item.img_src1 }}" style="width:100px; height:auto;">
                    <img src="{{ item.img_src2 }}" style="width:100px; height:auto;">
                    <img src="{{ item.img_src3 }}" style="width:100px; height:auto;">
                </li>
            {% endfor %}
        {% else %}
            <li>{{ form_data.no_results_text }}</li>
        {% endif %}
    </ul>
</body>
</html>
