<!DOCTYPE html>
<html>
<head>
    <title>Motel Data</title>
</head>
<body>
    <h1>Motel Data</h1>
    <!-- 폼 렌더링 -->
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">검색</button>
    </form>
    <!-- 모텔 데이터 보여주기 -->
    <ul>
        {% if data %}
            {% for item in data %}
                <li>
                    {{ item.name }}: [{{ item.location }}] - {{ item.price }}원
                    {{ item.description }}
                </li>
            {% endfor %}
        {% else %}
            <li>검색 결과가 없습니다.</li>
        {% endif %}
    </ul>
</body>
</html>
